<template>
  <button click.trigger="newCourse()" type="submit" class="btn started-button my-3">
    Create Course
  </button>
  <div class="card table-cardings">
    <table class="table table-condensed table-striped">
      <thead>
        <tr show.bind="!isGrades">
          <th colspan="4">
            <div class="checkbox leftMargin">
              <label>
                <input checked.bind="isCheckedCompleted" type="checkbox" /> Filter
                out Completed Courses
              </label>
            </div>
          </th>
        </tr>
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Grade</th>
          <th scope="col">Status</th>
          <th scope="col">Date Due</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="course of course.coursesArray | filterCourses:isCheckedCompleted">
          <td click.delegate="editCourse(course)" scope="row">${course.course}</td>
          <td scope="row">${course.grade}</td>
          <td>
            <select change.delegate="updateCourse(course)" value.bind="course.status" class="form-control" id="courseStatus">
              <option repeat.for="status of statuses" value.bind="status">${status}</option>
            </select>
          </td>
          <td>${course.dateDue | dateFormat}</td>
          <td>
            <button click.trigger="deleteCourse(course)" type="button" class="btn btn-danger btn-sm">
              Delete
            </button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</template>
