<template>
  <form>
    <div class="form-group">
      <label for="exampleInputFirstName1">First Name</label>
      <input value.bind="students.firstName" type="text" class="form-control" id="exampleInputFirstName1"
        aria-describedby="FirstNameHelp" placeholder="Enter First Name">
    </div>
    <div class="form-group">
      <label for="exampleInputLastName1">Last Name</label>
      <input value.bind="students.lastName" type="text" class="form-control" id="exampleInputLastName1"
        aria-describedby="LastNameHelp" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input value.bind="students.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input value.bind="students.password" type="password" class="form-control" id="exampleInputPassword1"
        placeholder="Password">
    </div>
    <button click.trigger="save()" type="submit" class="btn btn-primary">Save</button>
  </form>
</template>
